alias ga='git add'
alias gb='git branch'
alias gbase='git rebase'
alias gc='git checkout'
alias gcherry='git cherry-pick'
alias gd='git diff'
alias gf='git fetch'
alias gl='git log'
alias gm='git commit -m'
alias gmend='git commit --amend'
alias gp='git pull'
alias gs='git status'
alias gstash='git stash save -u'
alias gv='git remote -v'
alias ll='ls -GFhAlT'
alias ls='ls -GFhA'
alias profile='vim ~/.bash_profile'
