alias ga='git add'
alias gb='git branch'
alias gbase='git rebase'
alias gc='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias gl='git log'
alias gm='git commit -m'
alias gmend='git commit --amend'
alias gp='git pull'
alias gs='git status'
alias gv='git remote -v'
alias ls='ls -GFha'
alias profile='vim ~/.bash_profile'
